docs

# build artefacts
_site

# tasks to do
LOG.md

# SASS cache
.sass-cache

# cloned repo
scripts/rdf-config

# generated datasets.json
_data/datasets.json

# allow plugin Ruby files to be tracked even if *.rb is globally ignored
!_plugins/*.rb
