.global-navigation
  background-color: var(--color-page-bg)

  position: fixed
  top: calc(var(--margin-global-navigation) + var(--height-common-header))
  left: var(--margin-global-navigation)
  width: var(--width-global-navigation)
  height: calc(100% - var(--margin-global-navigation) * 2 - var(--height-common-header))
  z-index: var(--z-index-global-navigation)

  &::after
    content: ''
    position: absolute
    display: block
    height: calc(100vh - var(--height-common-header))
    top: calc(var(--margin-global-navigation) * -1)
    left: var(--width-global-navigation)
    border-left: 1px solid #0005
    box-shadow: calc(100vw - var(--margin-global-navigation) * 2) 0 0 #0005
  
  > .background
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: hidden
    &::before
      content: ''
      position: absolute
      display: block
      height: 500px
      width: 500px
      top: -12px
      left: 0px
      background-repeat: no-repeat
      background-position: -30px -122px
      background-size: 450px
      z-index: 1
      filter: blur(10px) brightness(3.5)
      translate: 50px 0
      rotate: -8deg
      mix-blend-mode: multiply
      opacity: .8
      pointer-events: none

  > .inner
    padding: 12px
    display: flex
    flex-direction: column
    height: 100%
    min-height: fit-content
    position: relative
    ul
      list-style: none
      margin: 0
      padding: 0
    > h1
      padding: 0 0 8px
      font-size: 4.8rem
      font-weight: 500
      line-height: 0.8
      letter-spacing: -0.04em
      > a
        margin-top: -4px
        color: #000
        text-decoration: none
        display: flex
        align-items: center
        > img
          margin-right: 4px
          width: 100px
          position: relative
          translate: -5px 0

    > .stats
      margin-bottom: 16px
      > li
        position: relative
        > span
          line-height: 0.8
          &:nth-child(1)
            font-size: 3.6rem
            font-weight: 500
            letter-spacing: -0.04em
          &:nth-child(2)
            margin-left: 2px
            font-size: 1.6rem
    > nav
      > ul
        > li
          transition: opacity 0.3s ease
          opacity: 0.4
          &.-active, &:hover
            opacity: 1
          > a
            display: block
            font-size: 1.6rem
            font-weight: 500
            position: relative
            &:hover
              text-decoration: none
            &::before, &::after
              content: ''
              position: absolute
              display: block
              border-top: 1px solid #000
            &::before
              width: 100%
              bottom: 7px
              left: 0
            &::after
              width: 7px
              rotate: 45deg
              right: 0
              bottom: 10px
          > ul
            display: none
            padding-left: 10px
            > li
              margin-bottom: 0
              opacity: 0.4
              &.-active, &:hover
                opacity: 1
              > a
                font-size: 1.4rem
                font-weight: 500
                position: relative
          &[data-page-id="access_methods"]
            > ul
              display: block
    > .space
      flex-grow: 1
    > .bottom
      display: flex
      align-items: center
      font-size: 1.2rem
      > p
        margin: 0
        padding: 0
        + p
          &::before
            content: '/'
            padding: 0 4px
      > .spacer
        flex-grow: 1

body[data-parent-page-id="documents"] .global-navigation > .inner > nav > ul > li[data-page-id="documents"] > ul
  display: block

body[data-page-id="top"] .global-navigation > .inner > nav > ul > li
  opacity: 1
