.grid-boxes
  padding: 0 40px
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
  gap: 40px
  align-items: start

  > .box
    height: fit-content
    padding-left: 1.6rem
    position: relative
    &::before
      content: ''
      position: absolute
      top: 6px
      left: 0
      width: 2px
      height: 100%
      background-color: #222