.grid-boxes
  --gap: 20px
  display: flex
  gap: var(--gap)
  flex-wrap: wrap
  align-items: flex-start

  > .box
    padding: 0.5em 1.4em
    background-color: var(--color-warm-gray)
    > h2
      margin-top: 0.4em !important

// media queries
@media (min-width: 960px)
  .grid-boxes
    > .box
      width: calc(50% - var(--gap))

@media (min-width: 1300px)
  .grid-boxes
    > .box
      width: calc(33% - var(--gap))

@media (min-width: 1700px)
  .grid-boxes
    > .box
      width: calc(25% - var(--gap))
