.tag-stats-bar
  overflow-x: auto

  > .inner
    padding-bottom: 60px
    box-sizing: content-box
    vertical-align: bottom
    column-gap: 0.5rem
    white-space: nowrap
    height: 60px

    > .bar
      display: inline-block
      margin: 0 4px
      width: 10px
      position: relative

      > .label
        font-size: 1rem
        position: absolute
        bottom: 0
        transform-origin: 0 0
        transform: rotate(30deg) translate(7px, 15px)

