.timeline-list
  > .year
    font-weight: bold
    margin: 32px 0 2px
    border-bottom: 1px solid var(--color-border-strong)
    line-height: 0.5

  > article
    padding: 8px 0
    display: flex
    border-bottom: 1px solid var(--color-border-weak)
    align-items: center
    > time
      flex-basis: 120px
      font-size: 1.2rem
      color: var(--color-subtext)
    > .title
      font-size: 1.6rem !important
      font-weight: bold
      > a
        text-decoration: none !important
        &:hover
          text-decoration: underline !important