.toc-view
  background-color: var(--color-warm-gray)
  width: var(--width-toc)
  border-radius: 4px
  > ul
    padding: 8px 8px !important
    margin-bottom: 0 !important
    list-style: none
    li
      font-weight: bold
      line-height: 1.2
      a
        padding: 5px 8px
        border-radius: 4px
        text-decoration: none !important
        display: block
        transition: opacity 0.2s
        opacity: var(--opacity-inactive)
        &:hover, &.-active
          opacity: 1
          // background-color: var(--color-warm-gray-strong)
      > ul
        display: none
