.toc-view
  background-color: var(--color-warm-gray)
  width: var(--width-toc)
  border-radius: 4px
  > ul
    padding: 8px 16px !important
    margin-bottom: 0 !important
    list-style: none
    li
      padding: 5px 0
      font-weight: bold
      line-height: 1.2
      a
        text-decoration: none !important
        &:hover
          text-decoration: underline
      > ul
        display: none
