#AccessMethodsDiagramView
  --color-bg: var(--color-warm-gray)

  margin-top: 30px
  margin-inline: -39px
  padding-left: 100px
  position: relative
  background-color: var(--color-bg)

  display: flex
  flex-direction: column
  overflow: hidden

  &::before
    content: url("../images/logo.svg")
    position: absolute
    width: 190%
    height: 109%
    bottom: -17%
    mix-blend-mode: difference
    filter: blur(25px)
    left: -88%
    rotate: 70deg

  > article
    --i: calc(sibling-index() - 1)
    --n: sibling-count()
    --hue: calc(360deg / var(--n) * var(--i))
    --color-article-bg: oklch(0.85 0.07 var(--hue))
    
    padding-inline: 70px 40px
    background-image: linear-gradient(to right, var(--color-bg), var(--color-article-bg) 50%)
    > *
      position: relative
      z-index: 1
    > h2
      margin-top: 0
      > a
        color: white
        text-decoration: none
        font-size: 5.6rem
        font-weight: 900
        line-height: 0
    > p
      margin-top: -10px
      line-height: 1.2
        