#CommonPageView
  --padding: calc(var(--margin-global-navigation) + 8px)
  margin: var(--margin-global-navigation) var(--margin-global-navigation) var(--margin-global-navigation) calc(var(--margin-global-navigation) + var(--width-global-navigation))
  padding: var(--padding)
  min-height: calc(100vh - var(--margin-global-navigation) * 2 - var(--height-common-header))
  background-color: var(--color-page-bg)
  position: relative

  &::before
    content: ''
    position: absolute
    display: block
    width: calc(100% - var(--padding) * 2)
    bottom: var(--padding)
    left: var(--padding)
    border-top: 1px solid var(--color-border-strong)

  a
    text-decoration: underline
  > header
    margin: 10px 0 18px
    &::after
      content: ''
      display: block
      width: 100%
      border-top: 1px solid var(--color-border-strong)
      margin-top: -3px
    > .title
      margin: -1.6rem 0 0
      padding-top: 8px
      font-size: 2.4rem
      font-weight: 300
      line-height: 1
      letter-spacing: -0.04em
      &:has(> a)
        font-size: 1.6rem
        font-weight: 400
        text-align: right
      > a
        text-decoration: none
        position: relative
        padding-right: 1.8rem
        &::before, &::after
          content: ''
          display: block
          position: absolute
        &::before
          width: 1.2rem
          height: 1.2rem
          background-color: var(--color-border-strong)
          top: .3rem
          right: 0
        &::after
          width: .6rem
          height: .6rem
          border-top: solid .2rem #FFFE
          border-left: solid .2rem #FFFE
          top: .6rem
          right: .2rem
          rotate: -45deg

  > .inner
    margin: 0 20px
    font-size: 1.6rem
    line-height: 1.8
    max-width: 60em
    &:has(> .content > .-fullwidth)
      max-width: none
    &:has(> .content > .-nomargin)
      margin: 0
    > .content
      padding-bottom: 20px
      h2, h3
        margin-top: 1.5em
      h2
        font-size: 2.4rem
      h3
        font-size: 1.8rem
      p, ul, ol, dl, blockquote, pre, table, img, figure
        margin-bottom: 1em
      p, blockquote
        text-align: justify
      ul, ol
        padding-left: 1.5em
      code, pre
        background-color: var(--color-warm-gray)
        padding: 2px 4px
        // font-size: 0.9em
        font-family: var(--font-family-mono)
    
      .toc-wrapper
        background-color: var(--color-warm-gray)
        padding: 20px
        margin-bottom: 2em
        .toc-title
          font-size: 1.6rem
          font-weight: 700
          margin-top: 0
          margin-bottom: 10px
        .page-toc
          padding-left: 0
          list-style: none
          margin-bottom: 0
          ul
            padding-left: 1.5em
            list-style: disc
            margin-bottom: 0
          li
            margin-bottom: 5px
            a
              text-decoration: none
              &:hover
                text-decoration: underline

      > .grid-boxes
        margin-top: 40px
    
