#EndpointsListView

  > table
    width: 100%
    border-collapse: collapse
    border-bottom: solid 1px var(--color-border-strong)
    th
      text-align: left
    > tbody
      border-top: solid 1px var(--color-border-strong)
      font-size: 1.4rem
      > tr
        > th, > td
          padding: 0.8em 0.4em
        > th
          background-color: var(--color-warm-gray)
          font-size: 1.6rem
          line-height: 1.1
          > a
            text-decoration: none
            &::after
              content: attr(href)
              margin-left: 0.4em
              font-size: 1.2rem
              font-weight: 400
              text-decoration: underline
        > td
          > ul
            padding-left: 1em
            gap: 2em
            > li
              margin-bottom: 0.5em
              line-height: 1

@media (max-width: 1200px)
  #EndpointsListView > table > tbody > tr > td > ul
    column-count: 2

@media (max-width: 768px)
  #EndpointsListView > table > tbody > tr > td > ul
    column-count: 1
    
@media (min-width: 1201px)
  #EndpointsListView > table > tbody > tr > td > ul
    column-count: 3