#EndpointsListView

  > table
    width: 100%
    border-collapse: collapse
    th
      text-align: left
    > thead
      > tr
        border-bottom: solid 1px #000
    > tbody
      > tr
        border-bottom: solid 1px #0004
        > th
          padding-right: 1em
        > td
          > ul
            padding-left: 1em
            column-count: 2 // メディアクエリーを用い変動
