---
layout: default
---

<div id="CommonPageView">
  <header>
    {% assign current_lang = site.active_lang | default: site.default_lang %}
    {% assign current_title = page.title[current_lang] | default: page.title.en | default: page.title %}
    {% if page.backToListURL %}
    <h2 class="title"><a href="{{ page.backToListURL | relative_url }}">{{ page.listPageTitle }}</a></h2>
    {% else %}
    <h2 class="title">{{ current_title }}</h2>
    {% endif %}
  </header>
  <div class="inner">
    <div class="content">{{ content }}</div>
  </div>
</div>